<a href="https://colab.research.google.com/github/ogut77/DataScience/blob/main/BoostingRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score,f1_score
from sklearn.model_selection import train_test_split

# Importing dataset
df=pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
#Check missing values
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [4]:
bedroom_mean = df['total_bedrooms'].mean()
df['total_bedrooms'].fillna(bedroom_mean, inplace=True)

In [7]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [8]:
df['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [9]:
#(Optinal) Delete Island as we have few value 
df = df[df.ocean_proximity != 'ISLAND']
df['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
Name: ocean_proximity, dtype: int64

In [10]:
X=df.drop(columns=['median_house_value'])
X
X = pd.get_dummies(X, drop_first=True)
Y=df['median_house_value']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [11]:
def evalmetric(y,ypred):
 import numpy as np
 e = y - ypred 
 mse_f = np.mean(e**2)
 rmse_f = np.sqrt(mse_f)
 mae_f = np.mean(abs(e))
 mape_f = 100*np.mean(abs(e/y))
 r2_f = 1-(sum(e**2)/sum((y-np.mean(y))**2))
 print("MSE:", mse_f)
 print("RMSE:", rmse_f)
 print("MAE:",mae_f)
 print("MAPE:",mape_f)
 print("R-Squared:", r2_f)

In [15]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor(random_state=17)
dtr.fit(X_train,Y_train)
## Predicting for training data
print('Train Data')
y_pred = dtr.predict(X_train)
evalmetric(Y_train,y_pred)
print('Test Data')
y_pred2 = dtr.predict(X_test)
evalmetric(Y_test,y_pred2)

Train Data
MSE: 0.0
RMSE: 0.0
MAE: 0.0
MAPE: 0.0
R-Squared: 1.0
Test Data
MSE: 4582121593.935061
RMSE: 67691.37015849998
MAE: 42478.282045069056
MAPE: 22.388230275078598
R-Squared: 0.6529475448739743

In [17]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=17)
rfr.fit(X_train,Y_train)
## Predicting for training data
print('Train Data')
y_pred = rfr.predict(X_train)
evalmetric(Y_train,y_pred)
print('Test Data')
y_pred2 = rfr.predict(X_test)
evalmetric(Y_test,y_pred2)

Train Data
MSE: 329785984.64020747
RMSE: 18160.010590310994
MAE: 11748.325371940835
MAPE: 6.56845425162232
R-Squared: 0.9752724835086763
Test Data
MSE: 2399606709.669161
RMSE: 48985.78068857493
MAE: 31496.838415313792
MAPE: 17.10933080329566
R-Squared: 0.8182524442324153

In [18]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=17)
rfr.fit(X_train,Y_train)
## Predicting for training data
print('Train Data')
y_pred = rfr.predict(X_train)
evalmetric(Y_train,y_pred)
print('Test Data')
y_pred2 = rfr.predict(X_test)
evalmetric(Y_test,y_pred2)

Train Data
MSE: 329785984.64020747
RMSE: 18160.010590310994
MAE: 11748.325371940835
MAPE: 6.56845425162232
R-Squared: 0.9752724835086763
Test Data
MSE: 2399606709.669161
RMSE: 48985.78068857493
MAE: 31496.838415313792
MAPE: 17.10933080329566
R-Squared: 0.8182524442324153

In [20]:
from sklearn.ensemble import GradientBoostingRegressor
from time import time

gbr = GradientBoostingRegressor(random_state=17)
gbr.fit(X_train, Y_train)
print('Train Data')
y_pred = gbr.predict(X_train)
evalmetric(Y_train,y_pred)
print('Test Data')
y_pred2 = gbr.predict(X_test)
evalmetric(Y_test,y_pred2)

Train Data
MSE: 2791255953.7591376
RMSE: 52832.33814397331
MAE: 36932.6449857026
MAPE: 20.828365695969683
R-Squared: 0.7907102459087658
Test Data
MSE: 3230110065.293995
RMSE: 56834.05726581549
MAE: 38772.213915339154
MAPE: 21.257935869213657
R-Squared: 0.7553496550656017

In [22]:
from time import time
import lightgbm as lgb
t0 = time()
lgr = lgb.LGBMRegressor(random_state=17)
lgr.fit(X_train, Y_train)
print('Train Data')
y_pred = lgr.predict(X_train)
evalmetric(Y_train,y_pred)
print('Test Data')
y_pred2 = lgr.predict(X_test)
evalmetric(Y_test,y_pred2)

Train Data
MSE: 1660147578.5955615
RMSE: 40744.90862175987
MAE: 28000.970378281367
MAPE: 15.935631729637711
R-Squared: 0.875521312185115
Test Data
MSE: 2257597727.1239085
RMSE: 47514.184483414094
MAE: 31657.83129872351
MAPE: 17.314256925107436
R-Squared: 0.8290082840834381